
$sky-blue: #87CEEB;
$pink: #FFC0CB;
$darkslateblue: #483D8B;

*{
  box-sizing: border-box;
}


.stack-section-hero{
  font-family: "Arial", Serif;
  font-size: 2rem;
  padding-top: 1.5rem;
  color: white;
  text-align: center;
}


.stack-section{

  //background-image: url("../Assets/gears.jpg");
  //background-repeat: no-repeat;
  //background-size: cover;
  background-image: linear-gradient(to top, $pink, $sky-blue, $darkslateblue);;
  width: 100%;
  height: 76rem;
  overflow-y: auto;
  /**position: relative;
  top: -15.4rem;
  left: -0.5rem; */

  .stack-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 45rem;

    /** Ask if there is a way to have grid-template-columns & grid-template-rows to adjust automatically based on the screen resolution without the need of setting media queries */
    display: grid;
    grid-column-gap: 1fr;
    grid-row-gap: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));


    //justify-content: space-between;
    //flex-wrap: wrap;

    .stack {
      background-color: white;
      border-radius: 1rem;
      color: black;

      display: flex;
      justify-content: center;
      align-items: center;
      /**
      flex-grow: 1;
      flex-shrink: 0;
      justify-content: space-around; */
      width: 8rem;
      height: 8rem;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      opacity: 0.8;

      &:hover{
        opacity: 0.7;
      }

      .languages{
        text-align: center;
        position: relative;
      }
    }

  }
}




