$white: rgb(255,255, 255);
$gray: rgb(248, 249, 249);

body{
  overflow-x: hidden;
}

.mysection{
  width: 100%;
  height: 22rem;
  /**
  position: relative;
  top: -13.7rem;
  left: -0.5rem;
  */
  background-color: white;


  h1 {
    padding-top: 2rem;
    text-align: center;
    font-family: "Arial", "serif";
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    color: gray;

  }


}



/**
@media only screen and (max-width: 1200px){
  .mysection{
    background-color: white;
    width: 76rem;
    height: 22rem;
    position: relative;
    top: -13.7rem;
    left: -0.5rem;


    h1 {
      padding-top: 1rem;
      text-align: center;
      font-family: "Arial", "serif";
      font-size: 2rem;
      font-weight: bold;
      font-style: italic;
      color: gray;

    }


  }

}






@media only screen and (max-width: 1024px){
  .mysection{
    background-color: white;
    width: 65rem;
    height: 22rem;
    position: relative;
    top: -13.7rem;
    left: -0.5rem;


    h1 {
      padding-top: 1rem;
      text-align: center;
      font-family: "Arial", "serif";
      font-size: 2rem;
      font-weight: bold;
      font-style: italic;
      color: gray;

    }


  }

}







@media only screen and (max-width: 768px){
  .mysection{
    background-color: white;
    width: 49rem;
    height: 22rem;
    position: relative;
    top: -13.7rem;
    left: -0.5rem;


    h1 {
      padding-top: 1rem;
      text-align: center;
      font-family: "Arial", "serif";
      font-size: 2rem;
      font-weight: bold;
      font-style: italic;
      color: gray;

    }


  }

}







@media only screen and (max-width: 480px){
  .mysection{
    background-color: white;
    width: 63rem;
    height: 22rem;
    position: relative;
    top: -13.7rem;
    left: -0.5rem;


    h1 {
      padding-top: 1rem;
      text-align: center;
      font-family: "Arial", "serif";
      font-size: 2rem;
      font-weight: bold;
      font-style: italic;
      color: gray;

    }


  }

}

*/
