
.web-footer{

  width: 100%;
  height: 4.6rem;
  background-color: rgb(41,41,41);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  /** position: relative;
  top: 14.6rem;
  left: -0.5rem; */
  clear: both;
}

.footer-list{
  list-style-type: none;
  float: right;
  margin-right: 1rem;
  margin-top: 1.5rem;

}


.lower-logo{
  float: left;
  font-family: "Times New Roman", serif;
  text-align: center;
  margin-left: 1rem;
  margin-top: 1rem;
  color: rgb(255, 255,255);
}

.footer-links{
  display: inline;
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-right: 1rem;
  margin-left: 1rem;
  color: rgb(189, 189, 189);
}

.footer-single-link:visited{
  color: rgb(189, 189, 189);
}

.footer-single-link{
  color: rgb(189, 189, 189);
  text-decoration-line: none;
}



/***


@media only screen and (max-width: 1200px){

  .web-footer{
    width: 76rem;
    height: 4.6rem;
    background-color: rgb(41,41,41);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 14.6rem;
    left: -0.5rem;
    clear: both;
  }

}




@media only screen and (max-width: 1024px){

  .web-footer{
    width: 65rem;
    height: 4.6rem;
    background-color: rgb(41,41,41);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 14.6rem;
    left: -0.5rem;
    clear: both;
  }

}








@media only screen and (max-width: 768px){

  .web-footer{
    width: 49rem;
    height: 4.6rem;
    background-color: rgb(41,41,41);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 14.6rem;
    left: -0.5rem;
    clear: both;
  }

}









@media only screen and (max-width: 480px){

  .web-footer{
    width: 63rem;
    height: 4.6rem;
    background-color: rgb(41,41,41);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 14.6rem;
    left: -0.5rem;
    clear: both;
  }

}



 */
